@model UserInfo
@{
    ViewBag.Title="Başvuru Durumu";
}
<main class="text-center">
<h1 class="h4">Başvuru Durumu</h1>


@if(Model.WillAttend==true)
{
<p>Thank you, @Model.Name @ViewBag.UserCount people are attending the meeting with you</p>
<a  class="btn btn-sm btn-outline-primary"  href="/meeting/list">Participant List</a>
}
else
{
    <p>@Model.Name,We're sorry you didn't attend.</p>
    <a  class="btn btn-sm btn-outline-primary"  href="/meeting/apply">Application Form</a>
}
</main>